#root {
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 12em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.embed {
  border: 0;
  padding: 2rem;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #e6962faa);
}

.discord {
  will-change: filter;
  transition: filter 300ms;
}

.discord:hover {
  filter: drop-shadow(0 0 1em #5865F2);
}

.twitter {
  will-change: filter;
  transition: filter 300ms;
}

.twitter:hover {
  filter: drop-shadow(0 0 1em #FAF9F6);
}


.card {
  padding: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.banner {
  width: 60vw;
}

.icon-container {
  padding: 0 16px;
}

.social-icon {
  text-decoration: none;
  display: inline-block;
  width: 48px;
  height: 48px;
  display: block;
}

.list-horizontally {
  display: flex;
  justify-content: center;
}

.label {
  margin: 4px;
  color: #e6962faa;
}